$primary: #1976d2;
$secondary: #9c27b0;
$error: #d32f2f;
$warning: #ed6c02;
$info: #0288d1;
$success: #2e7d32;
$grey: #bfbfbf;


$blue: $primary;
$purp: $secondary;
$red: $error;
$orange: $warning;
$blue2: $info;
$green:$success;


$font1 : "Roboto","Helvetica","Arial",sans-serif;
$headers: h1, h2, h3, h4, h5, h6;