
header {

    &#app-bar {
        a {
            text-decoration: none;
            color: white;
        }
    }
    .app-bar-grid {
        &:first-child {
            align-self: center;

        }
    }



    #logo-section {
        display:flex;
        align-items:center;
        margin-left: 1em;

        svg {
            font-size: 2em;
        }
    }

    #toolbar {

        .links {
            color:white;
        }
    }
}