@use '_var' as *;


#profile {
     margin: 2em 0;

    &-img {

        .img {
            background-color: rgb(199, 199, 199);

            width: 100%;
            max-width: 400px;
            height:400px;
            display:flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;

            svg {

                font-size: 10em;
            }
        }
    }

    &-info {

        .group {
            text-transform:capitalize;
            &-1 {
                display: flex;
                align-items:center;
                font-family:$font1;
                margin-bottom: 1em;

                h1 {
                    font-size: 2.5em;
                    
                }

                .location {
                    display:flex;
                    align-items: center;
                    margin-left: 1em;
                }
            }

            &-2 {
                #{join($headers, ",")} {

                    font-size: 1.5em;
                    
                }
                margin-bottom: 1em;
            }

            &-3 {
                padding-left: 0;
            }
        }
    }
}