@use '_var' as *;

$headers: h1, h2, h3, h4, h5, h6;
#signup {



    &-header {
        text-align: center;

        text-transform:lowercase;

        &::first-letter {
            text-transform: uppercase;
        }
        
        #{join($headers, ',')} {
            font-size:1.4em;
            margin:2em 0;
        }
    }

    &-form {

        form {

            max-width: 500px;
            margin: auto;
        }

        .form {
            &-group {

                margin-bottom:1em;

            //    & > div {

            //        display: inline-block;
            //    }
            }
        }
    }

}